.card {
    position: relative;
    height: 200px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 7px 8px rgba(255, 255, 255, 0.2);
    transition: transform 0.1s;
}

.card:hover {
    transform: scale(1.1);
}

.card-name {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 17px;
}