body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: #1f1f1f;
  font-family: Arial, sans-serif;
}

.header {
  padding: 20px;
  background-color: #1f1f1f;
}

.app {
  text-align: center;
}

h1,
h4 {
  text-shadow: 7px 7px 13px rgba(255, 255, 255, 0.2);
}

.scoreboard {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-items: center;
  max-width: 1250px;
  margin: 0 auto;
}

.card {
  width: 100%;
  aspect-ratio: 3 / 4;
}

button {
  background-color: #1f1f1f;
  border-radius: 7px;
  color: white;
  border: 2px white solid;
  padding: 10px 20px;
  box-shadow: 4px 4px 13px rgba(255, 255, 255, 0.2);
}